APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:uzdsW0f+iEfRlXgC9HX83O3LrskYv8g59G4tg2LrC1o=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=ec2-54-225-121-235.compute-1.amazonaws.com
DB_PORT=5432
DB_DATABASE=d1t51kf8mjnvij
DB_USERNAME=bkkvghtkidcqzh
DB_PASSWORD=ce7c085b4756e17401a422264f426ed23f854d4be4147a1214dd225c9ec0e9de

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"